* {
  margin: 0;
  Padding: 0;
  border: 0;
}
/* <*universal*> */
h1  {
font-family: 'Dancing Script', cursive;
text-align: center;
color: purple;
font-weight: bold;
font-size: 70px;
background: white;
left: 0;
right: 0;
padding: 10px 10px;
}

h2 {
font-family: 'Open Sans Condensed', sans-serif;
  color: White;
  font-weight: bold;
  font-size: 70px;
  padding-left: 20px;
  text-align: center;
}

h3 {
font-family: 'Open Sans Condensed', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 50px;
  padding-left: 20px;
  text-align: center;
}

h4 {
  font-size: 40px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  color: White;
  padding-left: 20px;
  text-align: center;
}

h5 {
font-family: 'Open Sans Condensed', sans-serif;
  color: black;
  font-size: 30px;
  padding-left: 20px;
  text-align: center;
}

h6 {
  font-family: 'Open Sans Condensed', sans-serif;
    color: black;
    font-size: 30px;
    padding-left: 20px;
    text-align: center;
}

p {
font-family: 'Open Sans Condensed', sans-serif;
font-size: 35px;
color: black;
text-align: center;
}
 /* <*home and Sub pages*>  */
.home-page {
  background: #A87594;;
  left: 0;
  right: 0;
  top: 85px;
  padding: 10px 0;
}

.sub-page {
  background: #A87594;
  left: 0;
  right: 0;
  top: 85px;
  padding: 10px 0;
}

header nav ul li {
  display: inline;
}

nav {
  text-align: center;
  color: White;
  text-decoration: none;
  font-weight: bold;
  font-size: 50px;
  margin: 0 30px;
  }

  a {
    color: white;
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 2px;
    text-decoration: none;
    margin: 0 auto;
  }

  nav a:hover {
    background: white;
    color: #A87594;
  }

.home {
    text-align: center;
    color: White;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    margin: 0 30px;
    }

header nav a {
  color: White;
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  margin: 0 30px;
  border: none;
}

.intro {
  padding: 20px 20px;
  text-align: center;
  max-width: 3000px;
  margin:0 30px;
}

.gifts {
  margin: 40px 10px;
  background:#58B9A9;
  display: inline-block;
  padding: 10px;
  box-shadow: 5px 5px 5px 5px #A87594;
}

.box {
  margin: 40px 10px;
  background:#58B9A9;
  display: inline-block;
  margin-left: 400px;
  padding: 10px;
}

.box3 {
  margin: 40px 10px;
  background:#58B9A9;
  display: inline-block;
  margin-left: 10px;
  padding: 10px;
}

.box2 {
  margin: 40px 10px;
  background:#58B9A9;
  display: inline-block;
  margin-left: 385px;
  width: 1200px;
  padding: 10px;
}

.gifts img {
  padding: 50px;
  max-height: 300px;
  max-width:300px;
  margin:0 auto;
  object-fit: cover;
  display: inline;
  transition: 2s;
}

.soon {
  margin: 0 10px;
  text-align: center;
}
.about img {
  Padding:0 10px;
  transition: 2s;
}
.about img:hover {
  width: 600px;
  height: 600px;
  transition: 2s;
}

.featured{
  margin: 40px 10px;
  background:#58B9A9;
  display: inline-block;
  margin-left: 10px;
  padding: 10px;
  box-shadow: 5px 5px 5px 5px #A87594;
}

.featured img {
  padding: 50px;
  max-height: 300px;
  max-width:300px;
  margin:0 auto;
  object-fit: cover;
  display: inline;
}

/* <*form*> */

.contact-form {
  background: #58B9A9;
  text-align: center;
  padding: 20px;
  max-width: 500px;
  border-radius: 10px;
  color: purple;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  margin: 0 auto;
}

.label_input_wrap {
  display: block;
}
label {
font-weight: bold;
}

.reset input,
.submit input {
  background: #A87594;
  color: purple;
  padding: 5px 20px;
  display: inline;
}

.reset,
.submit {
  display: inline;
}

.input-section{
  margin-bottom: 10px;
}
input {
  padding: 5px 10px;
  border-radius: 3px;
}

textarea {
font-family: 'Open Sans Condensed', sans-serif;
  padding: 10px 10px;
}

.forminfo {
  margin: 50px auto 180px;
  max-width: 900px;
  margin: 50px auto 180px;
  text-align: center;
}

.products {
  background: #58B9A9;
  padding: 20px;
  max-width: 500px;
  border-radius: 10px;
  color: purple;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  margin: 0 auto;
}

.products img {
margin: 0 auto;
  max-height: 400px;
  max-width:400px;
  align-items: center;
}

.container {
  margin: 40px 10px;
  background:#58B9A9;
  display: inline-block;
  margin-left: 10px;
  max-width: 200px;
}

.container img {
  padding: 50px;
  height: 60%;
  width:60%;
  object-fit: cover;
  display: inline;
}

.container1,
.container2,
.container3,
.container4,
.container5,
.container6,
.container7 {
  margin: 40px 10px;
  background:#58B9A9;
  display: inline-block;
  margin-left: 50px;
  max-width: 1500px;
}

.container1 img,
.container2 img,
.container3 img,
.container4 img,
.container5 img,
.container6 img,
.container7 img {
  padding: 50px;
  max-height: 300px;
  max-width:150%;
  object-fit: cover;
  display: inline;
}
.small a{
  max-width: 900px;
  max-height: 900px
}

.text {
  background: #58B9A9;
  text-align: center;
  padding: 20px;
  max-width: 800px;
  border-radius: 10px;
  color: purple;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  margin: 20px auto;
  clear: none;
}

.text img {
  margin: 0 auto;
  max-height: 500px;
  max-width:500px;
  align-items: center;
}

.hero1 {
  background: url("../images/gift.jpg") center;
  height: 500px;
  width: 100%;
  background-size: cover;

}

.hero2 {
  background: url("../images/bday.jpeg") center;
  height: 500px;
  width: 100%;
  background-size: cover;
}

.hero3 {
  background: url("../images/baby.jpg") center;
  height: 500px;
  width: 100%;
  background-size: cover;
}

.hero4 {
  background: url("../images/boy.jpeg") center;
  height: 500px;
  width: 100%;
  background-size: cover;
}
.cloud-top,
.cloud-bottom {
  position: absolute;
}

.cloud-top {
  width: 200px;
  top: 35px;
  opacity: .5;
  animation: wind 40s linear infinite;
}

.cloud-bottom {
  width: 300px;
  top: 45px;
  animation: wind 60s linear infinite;

}

/* <*footer*> */
td,
tr,
th {
  color: white;
  font-size: 24px;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 2px;
  border: 2px solid black;
  text-decoration: none;
  margin: 0 auto;
}

footer table {
  border: 1px double black;
  position: relative;
  top: 0;
  right: 0;
  margin: 0 auto;
}

footer {
  background: #A87594;
  height: 300px;
  font-family: 'Open Sans Condensed', sans-serif;
  left: 0;
  right: 0;
  padding: 10px 0;
  text-align: center;
  max-height: 250px;
}

@keyframes wind {
  from {
    left: -300px;
  }
  to {
    left: 2000px
}
